.event {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    color: white;

    &__red {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    &__green {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    &__blue {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
}